*{
	margin:0 auto;
	padding:0 auto;

    
}
body{
	position:absolute;
	width:100%;
	background-color:#35102f;
	
}

.cartoes-topo{
    margin-top:-55px ;
	padding:50px 0px;
}

.cartoes-topo a{
	top:450px;
	position: relative;
	text-decoration: none;
	color:white;
	height:900px;
}
.cartoes-topo p{
	font-family:'Open Sans', sans-serif;
}
.cartoes-topo h1{
	font-size:50px;
}
.lista h1{
	
	text-align:center;
	color:whitesmoke;
	list-style-type:none ;
	font-family:'Open Sans', sans-serif;
}
.lista h1:hover{
	color:#e7b956;
}
.menu{
	height:45px;
	margin-top:-50px;
	background-color:#351028;
}
.menu a{
	text-decoration:none;
}

.cartao{
	max-width: 100%;
	width:650vh;
	height:900px;
	padding: 0px 50px;
	display:table-cell;
	background-size:1500px ;
	transition:0.5s ;
	background-repeat: no-repeat;
	background-position:50% 50%;
	
	
}
.cartao-texto{
	top:150px;
	position:relative;
	opacity:0;
	transition:0.5s;	
	height:900px;
}

.cartao-texto:hover{
	opacity:100%;
	transition:0.5s;
}
.chamariz1{
	position: relative;
	top:150px;
	background-color:blue;
	border-radius:4px;
	color:white;
	display:inline-block;
}
.chamariz2{
	position: relative;
	top:150px;
	background-color:green;
	border-radius:4px;
	color:white;
	display:inline-block;
}
.chamariz3{
	position: relative;
	top:150px;
	background-color:violet;
	border-radius:4px;
	color:white;
	display:inline-block;
}
#cartao1:hover{
	height:100%;
	background-size:1500px;
	transition:0.8s; 
}
#cartao2:hover{
	background-size:1500px;
	transition:0.8s; 
}
#cartao3:hover{
	background-size:1500px;
	transition:0.8s; 
}
#cartao1{
	background-image:url("../imagens/Imagem-cartao1.jpg");
	cursor: pointer;
}

#cartao1 h1{
	color:white;
}
#cartao2{
	background-image:url("../imagens/Imagem-cartao2.jpg");
 	cursor: pointer;
}
#cartao2 h1{
	color:white;
}
#cartao3 h1{
	color:white;
}
#cartao3{
	background-image:url("../imagens/Imagem-cartao3.jpg");
	cursor: pointer;
}

.video video{
	width:100%;
	background-size: cover;
	background-position: 50% 50%;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Como-atuamos{
	position:relative;
	margin-top:-30px;
	background-image:url(../imagens/Como-atuamos-background.jpg);
	background-size:cover ;
	background-position: 50% 50%;
}
.texto {
	color:white;
	font-family:'Open Sans', sans-serif;
	padding:0px 0px 20px 0px;
	text-align:center ;
}
.dialogos-conteudo{
	background-image:url("../imagens/dialogos-background.jpg") ;
	color:white;
	background-position:50% 50%;
	background-size:cover;
	background-repeat:no-repeat;
	height:700px;
}
.rodapé{
   	background-color:#351028;
   	height:60px;

}
.Contatos-endereco{
	font-family:'Open Sans', sans-serif;
	color:#351028;
}

.sub-endereco {
	font-family:'Open Sans', sans-serif;
	color:#351028;
}
.Contatos-endereco div{
	padding:0px 0px 20px 0px;
}
.sub-endereco div {

	padding:10px 0px 20px 40px;
}
.container{
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 60px;
	padding-bottom: 60px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #e8e8e8;
}
.image-15{
    width: 1px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    background-color: #351028;
}
img{
	display:inline-block;
	max-width:100%;
	margin-top:50px ;
	margin-bottom:50px;
}
.image-9 {
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;
    left:625px;
}
.dialogos-conteudo h2{
	position:relative ;
	text-align:center ;
	color:#e7b956;
	font-family:'Open Sans', sans-serif;
}
.dialogos-conteudo p{
	text-align:right ;
	font-size:17px;
	padding:100px 20px 15px 0px;
}
#Prepare-se{
	color:#e7b956;
	opacity:1;
	left:350px;
}

.menu-image img{
	margin-top:0px;
	margin-bottom:0px;
	width:55px;
	position:absolute;
}
button{
	border:none;
	background-image:url("../imagens/Menu.png");
	background-color:#351028 ;
	background-size:48px ;
	background-repeat:no-repeat;
	height:45px;
	width:85px;
}
.links-img img{
	position:relative;
	margin-top:0px;
	padding-right:20px ;
}
footer{
	background-color:white ;
}
footer h4{
	text-align: center;
	color:white;
}

footer a{
	text-decoration: none;
	color:white;
	position:relative;
	top:15px;
}

footer a:hover{
	color:yellow;
	transition:0.5s;
}
